#Loginnav{
  align-items: center;
 position: -webkit-sticky;
 position: sticky;
 top: -5px;
 z-index: 2;
 background-color:#8DCAC6;
 box-shadow: 0 0.125rem 0.25rem 0 rgba(150, 87, 87, 0.11);
}


.Loginavatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#setloginslide{
  animation-duration: 2s;
  animation-name: slideLoginleftin;
  animation-direction: alternate;
}

@keyframes slideLoginleftin {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.imgHW{
  height: 100%;
  width:100%;
}

#LoginImgAnimation{
  animation-duration: 3s;
  animation-name: slideLoginrightin;
  animation-direction: alternate;
}

@keyframes slideLoginrightin {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

#LoginBtnHov:hover{
  background-color:honeydew;
  border: none;
  color:#8DCAC6;
}



.buttonset{

  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  color:honeydew;
  position: relative;
  transition: all .35s;
}

.buttonset span{
  position: relative;
  z-index: 2;
}

.buttonset:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:rgb(201, 235, 201);
  transition: all .45s;
}


.buttonset:hover:after{
  width: 100%;
}



/* Dark Mode */


/* :root {
    --font-color: #333;
    --background-color: white;
    --link-color: cornflowerblue;
  }
  
  [data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: lightblue;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--font-color);
  }
  
  a {
    color: var(--link-color);
  }

.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }
  
  .toggle-theme-wrapper span {
    font-size: 28px;
  }
  
  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
  }
  
  .toggle-theme input {
    display: none;
  }
  
  .slider {
    background-color:honeydew;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  }
  
  .slider:before {
    background-color: #8DCAC6;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:checked + .slider {
    background-color: #1B4262;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */
