#ChemistNavbar{
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  background-color:#8DCAC6;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(150, 87, 87, 0.11);
  
  }

#setcolorenq{
  color: honeydew;
}

#Enquiry{
  margin-top: 5% !important;
   
}

#setmt{
  margin-top: 10% !important;
}

